body{
    font-family: 'Roboto Slab', serif;
}




header{
    background-color: blueviolet;
width: 100%;
    height: 80px;
    display: flex;
        align-items: center;
        
}

.header-text{
    flex: 1;
        margin: 0;
        text-align: center;
        font-size: 30px;
        border: 5px solid #212121;
        padding-top: 15px;
        padding-bottom: 15px;

}


body{
    background-color: burlywood;
}

.container{ 
    height: 300px;
    
    
  
}

.list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

.btn-up{
    width: 50px;
    height: 40px;
    display: block;
    margin: auto;
    color: aqua;
    background-color: black;
    border-radius: 10px;


}

img{
    max-width: 100%;
        max-height: 100%;
        display: block;
        border-radius: 25%;
}

.div-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    border-radius: 25%;
}

.div-pos{
    position: relative;
    border-radius: 25%;
}

.pos-abs{
    position: absolute;
    top: 5px;
left: 10px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    border: 1px solid #212121;
    max-width: 300px;
}



footer{
    position: absolute;
        bottom: 0;
    background-color: aqua;
    width: 100%;
        height: 180px;
}